* {
    font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
}

.post a {
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: pink;
    text-decoration: none;
}

p+h3 {
    text-decoration: wavy underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

div > input {
    background-color: darksalmon;
}

input[type="text"] {
    color: red;
}

input[type="password"] {
    color: green;
}
